*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: #333;
    background-color: #fff;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    opacity: .5;
    font-weight: bold;
    text-decoration: none;
}

a:hover,
a:focus {
    opacity: .8;
    text-decoration: underline;
}

header,
section,
footer {
    width: 100%;
    padding-right: 18px;
    padding-left: 18px;
    margin: 0 auto;
}

@media all and (min-width: 760px) {

    header,
    section,
    footer {
        padding-right: calc(50vw - 350px);
        padding-left: calc(50vw - 350px);
    }
}

.Header {
    position: relative;
    padding-bottom: 15vh;
    overflow: hidden;
    color: #b8b4c5;
    background-color: #282531;
    background-image: linear-gradient(to bottom right, #282531, #514b63)
}

.Logo {
    display: inline-block;
    width: 3em;
    height: 3em;
    font-size: 2em;
    line-height: 3em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #99dff6;
    /* background-color: black; */
    /* margin: 30px 0; */
}

.Company {
    color: white;
    margin: 0;
    font-size: 1.3em;
}

.Tagline {
    color: #4f8cad;
    margin: 0;
    font-size: 1em;
}

.Greeting {
    font-size: 32px;
}

.Intro {
    font-size: 23px;
}

.Header,
.Section {
    position: relative;
    padding-top: 5vw;
    padding-bottom: 15vw;
}

.Footer {
    margin-top: auto;
    position: relative;
    padding-top: 5vw;
    padding-bottom: 10vw;
}

.Section:before,
.Footer:before {
    content: '';
    display: block;
    height: 8vw;
    width: 150%;
    background: white;
    position: absolute;
    left: -25%;
    top: -5vw;
    margin-bottom: 5vw;
    transform: rotate(-1.75deg)
}

.Section > *,
.Footer > * {
    position: relative;
}

@media all and (min-width: 760px) {

    .Header,
    .Section {
        padding-top: 38px;
        padding-bottom: 114px;
    }

    .Footer {
        padding-top: 38px;
        padding-bottom: 76px;
    }

    .Section:before,
    .Footer:before {
        left: -25%;
        top: -38px;
        margin-bottom: 38px;
    }
}

.Section--tech,
.Section--tech:before {
    color: white;
    background-color: #333;
}

.Section--storydock,
.Section--storydock:before {
    color: white;
    background-color: #326eb9;
}

.Section--swarm,
.Section--swarm:before {
    color: #333;
    background-color: #ffce00;
}

.Section--links,
.Section--links:before {
    color: white;
    background-color: #514b63;
}

.Section__content {
    position: relative;
}

h1 {
    /* color: #514b63; */
    font-size: 32px;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Footer,
.Footer:before {
    color: white;
    background-color: #282531;
}

.Footer__content {
    position: relative;
}

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
