*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: #AAA;
    background-color: #444;
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header,
section,
footer {
    padding: 2em 50px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.Logo {
    display: inline-block;
    width: 3em;
    height: 3em;
    font-size: 2em;
    line-height: 3em;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    color: #444;
    background-color: #AAA;
}

footer {
    margin-top: auto;
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
